/* COLOURS ---------------------------- */

:root {
  --primary-text: rgb(242, 242, 242);
  --secondary-text: rgb(202, 203, 206);
  --highlight1: rgb(55, 210, 228);
  --highlight2: rgb(113, 255, 205);
  --background: rgb(34, 40, 49);
  --card: rgb(83, 93, 107);
}

.primary-text {
  color: var(--primary-text);
}

.secondary-text {
  color: var(--secondary-text);
}

.highlight1 {
  color: var(--highlight1);
}

.highlight2 {
  color: var(--highlight2);
}

/* SELECTORS ---------------------------- */

body {
  background-color: var(--background);
}

nav.navbar {
  background: linear-gradient(to right, rgb(49, 188, 216), rgb(67, 217, 181));
  margin-bottom: 20px;
}

header {
  margin-bottom: 20px;
}

h1,
h2 {
  color: var(--primary-text);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.card {
  background-color: var(--card);
  margin-bottom: 20px;
}

.card-title {
  color: var(--primary-text);
}

.card-link {
  color: var(--highlight1);
}

form {
  margin-bottom: 20px;
}

form label {
  color: var(--secondary-text);
}

form input.form-control,
form select.form-select {
  background-color: var(--secondary-text);
}