/* BASE ---------------------------- */

body {
  background-color: rgb(34, 40, 49);
}

nav.navbar {
  background: linear-gradient(to right, rgb(49, 188, 216), rgb(67, 217, 181));
  margin-bottom: 20px;
}

header {
  margin-bottom: 20px;
}

h1 {
  color: rgb(242, 242, 242);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.card {
  background-color: rgb(83, 93, 107);
  margin-bottom: 20px;
}

p.category,
.card-subtitle {
  color: rgb(113, 255, 205);
  font-style: italic;
}

p.card-title {
  color: rgb(242, 242, 242);
  font-size: 20px;
}

p.card-subtitle a {
  color: rgb(55, 210, 228);
}

p.card-subtitle .ago-span {
  color: rgb(202, 203, 206);
}

p.card-text {
  color: rgb(202, 203, 206);
}

.card-link {
  color: rgb(55, 210, 228);
}

form {
  margin-bottom: 20px;
}

form label {
  color: rgb(202, 203, 206);
}

form input.form-control,
form select.form-select {
  background-color: rgb(202, 203, 206);
}

/* REGISTER ---------------------------- */

p.alt-option {
  color: rgb(202, 203, 206);
  margin-bottom: 0;
}

/* PROFILE ---------------------------- */

h2.card-title {
  color: rgb(242, 242, 242);
}

/* GROUPS ---------------------------- */

span.card-value {
  color: red;
}


/* HOME ---------------------------- */

.home-header {
  position: relative;
  background-image: url(../images/dragon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 50px;
  border-radius: 20px;
  text-align: left;
  height: 100vh;
}

.hero-text {
  position: relative;
  padding: 20px;
}

.home-header:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.hero-text h1,
.hero-text p,
.hero-text a {
  position: relative;
  z-index: 1;
}

.activity {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.activity p {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
}

.act-blog {
  background-image: url(../images/blog.jpg);
}

.act-diary {
  background-image: url(../images/diary.jpg);
}

.act-question {
  background-image: url(../images/question.jpg);
}

.act-exchange {
  background-image: url(../images/exchange.jpg);
}

.act-ad {
  background-image: url(../images/ad.jpg);
}

.act-creative {
  background-image: url(../images/creative.jpg);
}

.act-penpal {
  background-image: url(../images/penpal.jpg);
}

.act-meetup {
  background-image: url(../images/meetup.jpg);
}