/* COLOURS ---------------------------- */

:root {
  --primary-text: rgb(242, 242, 242);
  --secondary-text: rgb(202, 203, 206);
  --highlight1: rgb(55, 210, 228);
  --highlight2: rgb(113, 255, 205);
  --background: rgb(24, 30, 39);
  --card: #3D424D;
  --modal-background: #fafafa;
}

.primary-text {
  color: var(--primary-text);
}

.secondary-text {
  color: var(--secondary-text);
}

.highlight1 {
  color: var(--highlight1);
}

.highlight2 {
  color: var(--highlight2);
}

/* SELECTORS ---------------------------- */

body {
  background-color: var(--background);
  font-family: "Urbanist", sans-serif;
}

nav.navbar {
  background: linear-gradient(to right, rgb(49, 188, 216), rgb(67, 217, 181));
  margin-bottom: 20px;
}

.navbar-brand {
  font-family: "Outfit", sans-serif;
}

header {
  margin-bottom: 20px;
}

h1,
h2 {
  color: var(--primary-text);
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

/* CARDS */

.card {
  background-color: var(--card);
  margin-bottom: 20px;
}

.card-title {
  color: var(--primary-text);
}

.card-link {
  color: var(--highlight1);
}

.edit-comment-card {
  border: 1px solid red;
}

/* MODALS */

.modal h1 {
  color: var(--background);
}

.modal-content {
  background-color: var(--modal-background);
}

/* FORMS */

form {
  margin-bottom: 20px;
}

form label {
  color: var(--secondary-text);
}

form input.form-control,
form select.form-select,
textarea.form-control {
  background-color: var(--secondary-text);
}

.form-check-label {
  color: black;
}

input[type="radio"] {
  border: 2px solid black;
}

/* HOME PAGE */

.feature-col {
  border-radius: 10px;
}

.feature-col-1 {
  border: 1px solid var(--highlight1);
}

.feature-col-2 {
  border: 1px solid var(--highlight2);
}

.feature-col-3 {
  border: 1px solid #ffc107;
}

/* ERROR PAGES */

.error-page {
  height: 100%;
  border: 1px dashed red;
  border-radius: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
  #edit-profile-form {
    max-width: 400px;
  }
}