{% extends "base.html" %}

{% block content %}

<div class="row question-row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <span class="card-title">{{ question.title }}</span>
        <p>{{ question.description }}</p>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s4">
            <div class="row">
              <div class="col s12 m6">
                <p>{{ question.username }}</p>
              </div>
              <div class="col s12 m6">
                <p>{{ question.time_ago }}</p>
              </div>
            </div>
          </div>
          <div class="col s4">
            <a href="{{ url_for('view_answers', question_id=question._id) }}">{{ question.answer_count }} Comments</a>
          </div>
          {% if session.user == question.username %}
          <div class="col s4">
            <div class="row">
              <div class="col s12 m6">
                <a href="{{ url_for('edit_question', question_id=question._id) }}">Edit</a>
              </div>
              <div class="col s12 m6">
                <a href="#modal1" class="modal-trigger">Delete</a>
                <div id="modal1" class="modal">
                  <div class="modal-content">
                    <h4>Are you sure?</h4>
                    <p>Cancel or confirm deletion</p>
                  </div>
                  <div class="modal-footer">
                    <a class="modal-close">Cancel</a>
                    <a href="{{ url_for('delete_question', question_id=question._id) }}"
                      class="modal-close waves-effect waves-green btn-flat">Confirm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <form class="col s12" method="POST" action="{{ url_for('answer', question_id=question._id) }}">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="text" name="text" class="materialize-textarea"></textarea>
        <label for="text">Add Comment</label>
      </div>
    </div>
    <div>
      <button type="submit">Add Answer</button>
    </div>
  </form>
</div>

<ul>
  {% for answer in answers %}
  <li>
    <div class="row">
      <div class="col s9">
        {{ answer.text }}
      </div>
      <div class="col s3 right-align">
        <a href="{{ url_for('edit_answer', answer_id=answer._id) }}">Edit</a>
        <a href="#modal2" class="modal-trigger">Delete</a>
        <!-- Modal Structure -->
        <div id="modal2" class="modal">
          <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>Please cancel or confirm deletion.</p>
          </div>
          <div class="modal-footer">
            <a class="modal-close waves-effect waves-red btn-flat" href="#!">Cancel</a>
            <a href="{{ url_for('delete_answer', answer_id=answer._id) }}"
              class="modal-close waves-effect waves-green btn-flat">Confirm</a>
          </div>
        </div>
      </div>
    </div>
  </li>
  <hr>
  {% endfor %}
</ul>

{% endblock %}