{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">Add Group</h3>

<div class="card">
  <div class="card-body">
    <form method="POST" action="{{ url_for('groups.add_group') }}">
      <div class="mb-3">
        <label for="provider" class="form-label">Provider</label>
        <select id="provider" name="provider" class="form-select" aria-label="#" required>
          <option value="" disabled selected>Choose Provider</option>
          {% for provider in providers %}
          <option value="{{ provider.provider_name }}">{{ provider.provider_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="provider" class="form-label">Level</label>
        <select id="level" name="level" class="form-select" aria-label="#" required>
          <option value="" disabled selected>Choose Level</option>
          {% for level in levels %}
          <option value="{{ level.level_name }}">{{ level.level_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="text" id="year" name="year" class="form-control">
      </div>
      <div class="mb-3">
        <label for="weekday" class="form-label">Weekday</label>
        <input type="text" id="weekday" name="weekday" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}