{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Make Post</h1>

<div class="card">
  <div class="card-body">
    <form method="POST" action="{{ url_for('questions.ask_question') }}">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 mb-2">
            <label for="category" class="form-label">Category</label>
            <select id="category" name="category" class="form-select" aria-label="Default select example" required>
              <option value="" disabled selected>Choose Category</option>
              {% for category in categories %}
              <option value="{{ category.category_name }}">{{ category.category_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-6 mb-2">
            <label for="group" class="form-label">For All or Group?</label>
            <select id="group" name="group" class="form-select" aria-label="Default select example">
              <option value="">All</option>
              {% for group in groups %}
              <option value="{{ group._id }}">{{ group.weekday }}, {{ group.provider }}, {{ group.level }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-12 mb-2">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Max 50 characters"
              aria-describedby="title-help" maxlength="50" required>
          </div>
          <div class="col-12 mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" maxlength="500"
              required></textarea>
          </div>
          <div class="col-12 d-flex justify-content-center align-items-center mt-2 mb-2">
            <button type="submit" class="btn btn-outline-warning">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}