{% extends "base.html" %}

{% set active_page = "profile" %}

{% block content %}

<h1 class="text-center">Edit Profile</h1>


<form method="POST" action="{{ url_for('auth.edit_profile', username=user.username) }}">
  <div class="container">
    <div class="row">
      {% if current_user.role == "Admin" %}
      <div class="col-12 col-md-6 mb-3">
        <label for="role" class="form-label">Role</label>
        <select id="role" name="role" class="form-select" aria-label="Default select example">
          <option selected>Choose Role</option>
          {% for role in roles %}
          {% if role.role_name == user.role %}
          <option value="{{ role.role_name }}" selected>{{ role.role_name }}</option>
          {% else %}
          <option value="{{ role.role_name }}">{{ role.role_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      {% endif %}
      <div class="col-12 col-md-6 mb-3">
        <label for="level" class="form-label">Level</label>
        <select id="level" name="level" class="form-select" aria-label="Default select example">
          <option selected>Choose Level</option>
          {% for level in levels %}
          {% if level.level_name == user.level %}
          <option value="{{ level.level_name }}" selected>{{ level.level_name }}</option>
          {% else %}
          <option value="{{ level.level_name }}">{{ level.level_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="provider" class="form-label">Provider</label>
        <select id="provider" name="provider" class="form-select" aria-label="Default select example">
          <option selected>Provider</option>
          {% for provider in providers %}
          {% if provider.provider_name == user.provider %}
          <option value="{{ provider.provider_name }}" selected>{{ provider.provider_name }}</option>
          {% else %}
          <option value="{{ provider.provider_name }}">{{ provider.provider_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location" value="{{ user.location }}"
          placeholder="Location" maxlength="25">
      </div>
      <div class="col-12 col-md-{% if current_user.role == 'Admin' %}12{% else %}6{% endif %} mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" maxlength="50"
          value="{{ user.email }}" required>
      </div>
      <div class="col-12 mb-3">
        <label for="bio">Bio</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="bio" name="bio">{{ user.bio }}</textarea>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-warning">Save</button>
      </div>
    </div>
  </div>
</form>



{% endblock %}