{% extends "base.html" %}

{% set active_page = "posts" %}

{% block content %}

<!-- Post card template -->
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p><a class="highlight1" href="{{ url_for('auth.profile', username=post.username) }}">{{
          post.username
          }}</a> <em class="secondary-text">{{
          post.time_ago }}</em>
      </p>
      <p class="category highlight2"><em>{{ post.category }}</em></p>
    </div>
    <p class="card-title">{{ post.title }}</p>
    <p class="secondary-text">{{ post.description }}</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <a href="{{ url_for('comments.view_comments', post_id=post._id) }}" class="card-link">View comments ({{
      post.comment_count
      }})</a>
    {% if current_user.username == post.username or current_user.role == 'Admin' %}
    <div>
      <a href="{{ url_for('posts.edit_post', post_id=post._id) }}" class="card-link">Edit</a>
      <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#{{ post._id }}">Delete</a>

      <!-- Delete post modal -->
      <div class="modal fade" id="{{ post._id }}" tabindex="-1" aria-labelledby="modalLabel{{ post._id }}"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalLabel{{ post._id }}">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Changes cannot be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
              <a href="{{ url_for('posts.delete_post', post_id=post._id) }}" class="btn btn-outline-danger">Confirm</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% endif %}
  </div>
</div>

{% for comment in comments %}
{% if comment["_id"] == comment_id %}
<!-- Edit comment card -->
<div class="card">
  <div class="card-body">
    <form method="POST" action="{{ url_for('comments.edit_comment', comment_id=comment._id) }}" class="mb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 mb-3">
            <textarea class="form-control" id="text" name="text" rows="3" maxlength="500" placeholder="Add comment"
              aria-label="Text box to edit comment" required>{{ comment.text }}</textarea>
          </div>
          <div class="col-sm-3 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-outline-warning">Save Edit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% else %}
<!-- Normal comment cards -->
<div class="container">
  <div class="row">
    {% if current_user.username == comment.username %}
    <div class="col-1"></div>
    {% endif %}
    <div class="col-11">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p><a class="highlight1" href="{{ url_for('auth.profile', username=comment.username) }}">{{ comment.username
                }}</a>
              <em class="secondary-text">{{ comment.time_ago }}</em>
            </p>
            {% if current_user.username == post.username or current_user.role == 'Admin' %}
            <div>
              <a href="{{ url_for('comments.edit_comment', comment_id=comment._id) }}" class="card-link">Edit</a>
              <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#{{ comment._id }}">Delete</a>

              <!-- Delete comment modal -->
              <div class="modal fade" id="{{ comment._id }}" tabindex="-1" aria-labelledby="modalLabel{{ comment._id }}"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalLabel{{ comment._id }}">Are you sure?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Changes cannot be undone!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="{{ url_for('comments.delete_comment', comment_id=comment._id) }}"
                        class="btn btn-outline-danger">Confirm</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>

          <p class="primary-text">{{ comment.text }}</p>

        </div>
      </div>
    </div>
    {% if current_user.username != comment.username %}
    <div class="col-1"></div>
    {% endif %}
  </div>
</div>

{% endif %}

{% endfor %}

{% endblock %}