{% extends 'base.html' %}

{% block content %}

<!-- Need better validation -->

<h3 class="center-align">Edit Question</h3>

<div class="card">
  <div class="card-body">
    <form method="POST" action="{{ url_for('questions.edit_question', question_id=question._id) }}">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="title-help" minlength="1"
          maxlength="50" required value="{{ question.title }}">
        <div id="title-help" class="form-text">Max 50 characters</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" maxlength="500"
          required>{{ question.description }}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</a>
    </form>
  </div>
</div>

{% endblock %}