{% extends 'base.html' %}

{% block content %}
<header>
  <div class="text-center">
    <h1>Groups</h1>
    <a href="{{ url_for('groups.add_group') }}" class="btn btn-outline-warning btn-lg">Add Group</a>
  </div>
</header>

{% for group in groups %}

<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <p class="card-text secondary-text">Weekday: <span class="primary-text">{{ group.weekday }}</span></p>
              <p class="card-text secondary-text">Tutor: <span class="primary-text">{{ group.tutor }}</span></p>
            </div>
            <div class="col-6">
              <p class="card-text secondary-text">Level: <span class="card-value primary-text">{{ group.level}}</span>
              </p>
              <p class="card-text secondary-text">Year: <span class="card-value primary-text">{{ group.year }}</span>
              </p>
            </div>
            <div class="col-12 mt-3">
              <p class="card-text secondary-text">Provider: <span class="card-value primary-text">{{
                  group.provider}}</span></p>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#{{ group._id }}" aria-expanded="true" aria-controls="collapseOne">
                  Student List
                </button>
              </h2>
              <div id="{{ group._id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {% for student in group.students %}
                  <div class="d-flex justify-content-between">
                    <p>{{ student }}</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#{{ student }}">Remove</a>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ student }}" tabindex="-1" aria-labelledby="deleteModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Changes cannot be undone!</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                              data-bs-dismiss="modal">Cancel</button>
                            <a href="{{ url_for('groups.remove_student', group_id=group._id, username=student) }}"
                              class="btn btn-outline-danger">Confirm</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-around">
    <a href="{{ url_for('groups.edit_group', group_id=group._id) }}" class="card-link">Edit Group</a>
    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ group._id }}" class="card-link">Delete
      Group</a>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ group._id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Changes cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{{ url_for('groups.delete_group', group_id=group._id) }}"
              class="btn btn-outline-danger">Confirm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}