{% extends 'base.html' %}

{% block content %}
<!-- <header class="home-header">
  <div class="hero-text">
    <h1>Croeso</h1>
    <p>To your Welsh language learning Community</p>
    <p>
      Cydymiaith is a blend of two words, 'cydymaith' (companion) and 'iaith' (language) and that pretty much sums it
      up!
      The aim of Cydymiaith is to provide a place for LearnWelsh students and tutors to come together and share,
      practice
      and learn.
    </p>
    <div>
      <a href="#">Log In</a>
      <a href="#">Register</a>
    </div>
  </div>

</header> -->

<header>
  <div class="card text-center">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h1>Croeso</h1>
            <p class="secondary-text">to your Welsh language learning community!</p>
          </div>
          <div class="col-4 d-flex justify-content-around align-items-center">
            {% if not current_user.is_authenticated %}
            <a class="btn btn-outline-warning" href="#">Log In</a>
            <a class="btn btn-outline-info" href="#">Register</a>
            {% else %}
            <a class="btn btn-outline-warning" href="#">See Posts</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--
<aside class="side-panel">
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</aside> -->

<section>
  <p class="primary-text">Ry'n ni yma ynghyd! Yma ynghyyyd!</p>
</section>

<section>
  <div class="card secondary-text">
    <div class="card-body text-center">
      <h2>Features</h2>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h3 class="text-warning">Write</h3>
            <p>Questions</p>
            <p>Blog posts</p>
            <p>Creative pieces</p>
          </div>
          <div class="col-4">
            <h3 class="highlight2">Share</h3>
            <p>Knowledge</p>
            <p>Feedback</p>
            <p>News</p>
          </div>
          <div class="col-4">
            <h3 class="highlight1">Connect</h3>
            <p>With your class</p>
            <p>Arrange meetups</p>
            <p>Book exchanges</p>
          </div>
        </div>
      </div>
      <p class="highlight1">Ac ati! / And so on! </p>
    </div>
  </div>
</section>

<section>
  <div class="card secondary-text">
    <div class="card-body text-center">
      <h2>About</h2>
      <p><span class="highlight1">Cydymiaith</span> is a place for Welsh language students, tutors and speakers to
        communicate and practice online.</p>
      <p>It was made by a former LearnWelsh tutor as part of a Web App Development course.
      </p>
      <p>If you have any feedback,
        please email roepjynamy@hotmail.com</p>
    </div>
  </div>
</section>









{% endblock %}