{% extends 'base.html' %}

{% block content %}
<header class="home-header">
  <div class="hero-text">
    <h1>Croeso</h1>
    <p>To your Welsh language learning Community</p>
    <p>
      Cydymiaith is a blend of two words, 'cydymaith' (companion) and 'iaith' (language) and that pretty much sums it
      up!
      The aim of Cydymiaith is to provide a place for LearnWelsh students and tutors to come together and share,
      practice
      and learn.
    </p>
    <div>
      <a href="#">Log In</a>
      <a href="#">Register</a>
    </div>
  </div>

</header>

<section class="text-center">
  <h2>Posts</h2>
  <div class="container">
    <div class="row">
      <div class="activity act-blog col-3">
        <p>Blog</p>
      </div>
      <div class="activity act-diary col-3">
        <p>Diary</p>
      </div>
      <div class="activity act-question col-3">
        <p>Question</p>
      </div>
      <div class="activity act-exchange col-3">
        <p>Book Exchange</p>
      </div>
      <div class="activity act-ad col-3">
        <p>Announcement</p>
      </div>
      <div class="activity act-creative col-3">
        <p>Creative Writing</p>
      </div>
      <div class="activity act-penpal col-3">
        <p>Penpal</p>
      </div>
      <div class="activity act-meetup col-3">
        <p>Meetup</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}