{% extends 'base.html' %}
{% block content %}

<header class="text-center">
  <h1>Profile</h1>
</header>

<div class="card">
  <div class="card-body text-center">
    <h2 class="card-title">{{ user.username }}</h2>
    <p class="card-subtitle highlight2"><em>{{ user.role }}</em></p>
    <div class="container">
      <div class="row">
        <div class="col-7">
          {% if current_user.role in ["Admin", "Tutor"] or current_user.username == user.username %}
          <div class="row">
            <div class="col-4">
              <p class="text-end secondary-text">E-mail:</p>
            </div>
            <div class="col-8">
              <p class="text-start primary-text">{{ user.email }}</p>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-4">
              <p class="text-end secondary-text">Level:</p>
            </div>
            <div class="col-8">
              <p class="text-start primary-text">{{ user.level }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="text-end secondary-text">Provider:</p>
            </div>
            <div class="col-8">
              <p class="text-start primary-text">{{ user.provider }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="text-end secondary-text">Location:</p>
            </div>
            <div class="col-8">
              <p class="text-start primary-text">{{ user.location }}</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col-12">
              <p class="text-start secondary-text">Bio:</p>
            </div>
            <!-- {% if user.bio %} -->
            <div class="col-12">
              <p class="text-start primary-text">{{ user.bio }}</p>
            </div>
            <!-- {% endif %} -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if current_user.username == user.username %}
  <div class="card-footer d-flex justify-content-around">
    <a href="{{ url_for('auth.send_confirmation', email=user.email) }}" class="card-link">Reset Password</a>
    <a href="{{ url_for('auth.edit_profile', username=user.username) }}" class="card-link">Edit Profile</a>
    <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#deletionModal">Delete Profile</a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Changes cannot be undone!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{{ url_for('auth.delete_profile', username=user.username) }}"
            class="btn btn-outline-danger">Confirm</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% for question in questions %}

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p><a class="highlight1" href="{{ url_for('auth.profile', username=question.username) }}">{{ question.username
          }}</a>: <em class="secondary-text">{{
          question.time_ago }}</em>
      </p>
      <p class="highlight2"><em>{{ question.category }}</em></p>
    </div>

    <p class="card-title">{{ question.title }}</p>
    <p class="secondary-text">{{ question.description }}</p>

  </div>
  <div class="card-footer d-flex justify-content-between">
    <a href="{{ url_for('answers.view_answers', question_id=question._id) }}" class="card-link">View comments ({{
      question.answer_count
      }})</a>
    {% if current_user.username == question.username or current_user.role == 'Admin' %}
    <div>
      <a href="{{ url_for('questions.edit_question', question_id=question._id) }}" class="card-link">Edit</a>
      <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#{{ question._id }}">Delete</a>

      <!-- Modal -->
      <div class="modal fade" id="{{ question._id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Changes cannot be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
              <a href="{{ url_for('questions.delete_question', question_id=question._id) }}"
                class="btn btn-outline-danger">Confirm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endfor %}

{% endblock %}