{% extends "base.html" %}

{% set active_page = "posts" %}

{% block content %}
<header>
  <div class="text-center">
    <h1>Posts</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('questions.ask_question') }}" class="btn btn-outline-warning btn-lg">Make Post</a>
    {% else %}
    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-warning btn-lg">Login to Make Post</a>
    {% endif %}
  </div>
</header>

<form id="filter-form" class="posts-filter" method="POST" action="{{ url_for('questions.get_posts') }}">
  <div class="container">
    <div class="row">
      <div
        class="{% if current_user.is_authenticated %}col-sm-4 col-lg-5{% else %}col-sm-10{% endif %} mb-3 text-center">
        <select id="category" name="category" class="form-select" aria-label="Default select example">
          <option value="" selected>All Categories</option>
          {% for category in categories %}
          {% if query.category == category.category_name %}
          <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
          {% else %}
          <option value="{{ category.category_name }}">{{ category.category_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      {% if current_user.is_authenticated %}
      <div class="col-sm-4 col-lg-5 mb-3 text-center">
        <select id="group" name="group" class="form-select" aria-label="Default select example">
          <option value="" selected>All Groups</option>
          {% for group in groups %}
          {% if query.group_id|string == group._id|string %}
          <option value="{{ group._id }}" selected>{{ group.weekday }}, {{ group.provider }}, {{ group.level }}</option>
          {% else %}
          <option value="{{ group._id }}">{{ group.weekday }}, {{ group.provider }}, {{ group.level }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      {% endif %}
      <div class="col-6 col-sm-2 col-lg-1 mb-3 text-center">
        <button type="submit" class="btn btn-outline-info">Filter</button>
      </div>
      <div class="col-6 col-sm-2 col-lg-1 mb-3 text-center">
        <button type="button" class="btn btn-outline-danger" onclick="clearFilters()">Clear</button>
      </div>
    </div>
  </div>
</form>

<!-- remember tooltips -->

{% for question in questions %}

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p><a class="highlight1" href="{{ url_for('auth.profile', username=question.username) }}">{{
          question.username
          }}</a>: <em class="secondary-text">{{
          question.time_ago }}</em>
      </p>
      <p class="category highlight2"><em>{{ question.category }}</em></p>
    </div>
    <p class="card-title">{{ question.title }}</p>
    <p class="secondary-text">{{ question.description }}</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <a href="{{ url_for('answers.view_answers', question_id=question._id) }}" class="card-link">View comments ({{
      question.answer_count
      }})</a>
    {% if current_user.username == question.username or current_user.role == 'Admin' %}
    <div>
      <a href="{{ url_for('questions.edit_question', question_id=question._id) }}" class="card-link">Edit</a>
      <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#{{ question._id }}">Delete</a>

      <!-- Modal -->
      <div class="modal fade" id="{{ question._id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Changes cannot be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
              <a href="{{ url_for('questions.delete_question', question_id=question._id) }}"
                class="btn btn-outline-danger">Confirm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endfor %}

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}