{% extends "base.html" %}
{% block content %}

<div class="center-align">
  <h1>Q&As</h1>
  {% if session.user %}
  <a href="{{ url_for('questions.ask_question') }}" class="btn-large ask-button">Ask question</a>
  {% else %}
  <a href="{{ url_for('auth.login') }}">Login to ask question</a>
  {% endif %}
</div>

<!-- remember tooltips -->

{% for question in questions %}
<div class="row question-row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <span class="card-title">{{ question.title }}</span>
        <p>{{ question.description }}</p>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s4">
            <div class="row">
              <div class="col s12 m6">
                <p>{{ question.username }}</p>
              </div>
              <div class="col s12 m6">
                <p>{{ question.time_ago }}</p>
              </div>
            </div>
          </div>
          <div class="col s4">
            <a href="{{ url_for('answers.view_answers', question_id=question._id) }}">{{ question.answer_count }}
              Comments</a>
          </div>
          {% if session.user == question.username %}
          <div class="col s4">
            <div class="row">
              <div class="col s12 m6">
                <a href="{{ url_for('questions.edit_question', question_id=question._id) }}">Edit</a>
              </div>
              <div class="col s12 m6">
                <a href="#modal{{ question._id }}" class="modal-trigger">Delete</a>
                <!-- {{ url_for('questions.delete_question', question_id=question._id) }} -->
                <!-- Modal Structure -->
                <div id="modal{{ question._id }}" class="modal">
                  <div class="modal-content">
                    <h4>Are you sure?</h4>
                    <p>Cancel or confirm deletion</p>
                  </div>
                  <div class="modal-footer">
                    <a class="modal-close">Cancel</a>
                    <a href="{{ url_for('questions.delete_question', question_id=question._id) }}"
                      class="modal-close waves-effect waves-green btn-flat">Confirm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}