{% extends "base.html" %}

{% block content %}
<header>
  <h1 class="text-center">Users</h1>
</header>

<form method="POST" action="{{ url_for('auth.view_users') }}">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <label for="level" class="form-label">Level</label>
        <select id="level" name="level" class="form-select">
          <option value="" selected>All</option>
          {% for level in levels %}
          {% if query.level == level.level_name %}
          <option value="{{ level.level_name }}" selected>{{ level.level_name }}</option>
          {% else %}
          <option value="{{ level.level_name }}">{{ level.level_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <label for="provider" class="form-label">Provider</label>
        <select id="provider" name="provider" class="form-select">
          <option value="" selected>All</option>
          {% for provider in providers %}
          {% if query.provider == provider.provider_name %}
          <option value="{{ provider.provider_name }}" selected>{{ provider.provider_name }}</option>
          {% else %}
          <option value="{{ provider.provider_name }}">{{ provider.provider_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" class="form-control" value="{{ query.username }}">
      </div>
      <div class="col-2">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" value="{{ query.email }}">
      </div>
      <div class="col-2">
        <label for="location" class="form-label">Location</label>
        <input type="text" id="location" name="location" class="form-control" value="{{ query.location }}">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </div>
</form>

{% for user in users %}
<div class="card">
  <div class="card-body text-center">
    <h2 class="card-title">{{ user.username }}</h2>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Email: {{ user.email }}</p>
    <p class="card-text">Role: {{ user.role }}</p>
    <p class="card-text">Level: {{ user.level }}</p>
    <p class="card-text">Provider: {{ user.provider }}</p>
    <p class="card-text">Location: {{ user.location }}</p>
    <p class="card-text">Bio: {{ user.bio }}</p>
  </div>
  {% if current_user.role in ["Admin", "Tutor"] %}
  <div class="card-footer text-center">
    <a href="{{ url_for('auth.profile', username=user.username) }}" class="card-link">View Profile</a>
    <a href="{{ url_for('auth.edit_profile', username=user.username) }}" class="card-link">Edit Profile</a>
    <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user._id }}">Delete Profile</a>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ user._id }}" tabindex="-1" aria-labelledby="modalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Changes cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{{ url_for('auth.delete_profile', username=user.username) }}" class="btn btn-primary">Confirm</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#addToClassModal{{ user._id }}">
      Add to Class
    </a>

    <!-- Modal -->
    <div class="modal fade" id="addToClassModal{{ user._id }}" tabindex="-1" aria-labelledby="modalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Choose Class</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="{{ url_for('groups.add_student', username=user.username ) }}">
            <div class="modal-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" disabled>
                <label class="form-check-label" for="flexRadioDefault2">
                  Choose Group
                </label>
              </div>
              {% for group in groups %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="group_id" id="{{ group._id }}"
                  value="{{ group._id }}">
                <label class="form-check-label" for="{{ group._id }}">
                  {{ group.level }}, {{ group.weekday }}, {{ group.year }}
                </label>
              </div>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endfor %}

{% endblock %}