{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="card-body">
    <p class="card-subtitle mb-2 text-body-secondary">{{ question.username }}: {{ question.time_ago }}</p>
    <h5 class="card-title">{{ question.title }}</h5>

    <p class="card-text">{{ question.description }}</p>

  </div>
  <div class="card-footer d-flex justify-content-between">
    <p>{{ question.answer_count }} Comments</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <form method="POST" action="{{ url_for('answers.answer', question_id=question._id) }}">
      <div class="mb-3">
        <label for="text" class="form-label">Add answer...</label>
        <textarea class="form-control" id="text" name="text" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Answer</button>
    </form>
  </div>
</div>
{% for answer in answers %}
<div class="card">
  <div class="card-body">
    <p class="card-text">{{ answer.username }} - {{ answer.time_ago }}: {{ answer.text }}</p>
    <a href="{{ url_for('answers.edit_answer', answer_id=answer._id) }}">Edit</a>
    <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#{{ answer._id }}">Delete</a>

    <!-- Modal -->
    <div class="modal fade" id="{{ answer._id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Changes cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{{ url_for('answers.delete_answer', answer_id=answer._id) }}" class="btn btn-primary">Confirm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}