{% extends "base.html" %}

{% block content %}

<!-- Post card template -->
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p><a class="highlight1" href="{{ url_for('auth.profile', username=question.username) }}">{{
          question.username
          }}</a> <em class="secondary-text">{{
          question.time_ago }}</em>
      </p>
      <p class="category highlight2"><em>{{ question.category }}</em></p>
    </div>
    <p class="card-title">{{ question.title }}</p>
    <p class="secondary-text">{{ question.description }}</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <a href="{{ url_for('answers.view_answers', question_id=question._id) }}" class="card-link">View comments ({{
      question.answer_count
      }})</a>
    {% if current_user.username == question.username or current_user.role == 'Admin' %}
    <div>
      <a href="{{ url_for('questions.edit_question', question_id=question._id) }}" class="card-link">Edit</a>
      <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#{{ question._id }}">Delete</a>

      <!-- Delete post modal -->
      <div class="modal fade" id="{{ question._id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Changes cannot be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
              <a href="{{ url_for('questions.delete_question', question_id=question._id) }}"
                class="btn btn-outline-danger">Confirm</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% endif %}
  </div>
</div>

<!-- Add comment form -->
<div class="card">
  <div class="card-body">
    <form method="POST" action="{{ url_for('answers.answer', question_id=question._id) }}" class="mb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 mb-3">
            <textarea class="form-control" id="text" name="text" rows="3" maxlength="500" placeholder="Add comment"
              required></textarea>
          </div>
          <div class="col-sm-3 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-outline-warning">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Comment card template -->
{% for answer in answers %}
<div class="container">
  <div class="row">
    {% if current_user.username == answer.username %}
    <div class="col-1"></div>
    {% endif %}
    <div class="col-11">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p><a class="highlight1" href="{{ url_for('auth.profile', username=answer.username) }}">{{ answer.username
                }}</a>
              <em class="secondary-text">{{ answer.time_ago }}</em>
            </p>
            {% if current_user.username == question.username or current_user.role == 'Admin' %}
            <div>
              <a href="{{ url_for('answers.edit_answer', answer_id=answer._id) }}" class="card-link">Edit</a>
              <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#{{ answer._id }}">Delete</a>

              <!-- Delete Comment Modal -->
              <div class="modal fade" id="{{ answer._id }}" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalLabel">Are you sure?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Changes cannot be undone!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="{{ url_for('answers.delete_answer', answer_id=answer._id) }}"
                        class="btn btn-outline-danger">Confirm</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            {% endif %}
          </div>

          <p class="primary-text">{{ answer.text }}</p>

        </div>
      </div>
    </div>
    {% if current_user.username != answer.username %}
    <div class="col-1"></div>
    {% endif %}
  </div>
</div>

{% endfor %}

{% endblock %}